h1 {
    color: blue;
}
img {
    width: 400px;
}

#thirdDiv {
    border-radius: 1%;
    padding: 50px;
    border: 2px solid black;
}
.thirdDiv { 
    width: 600px;
    height: 500px;    
}
#spanId {
    font-size: 18px;
    margin: 50px;
}